/* ------RESET----- */

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* ------COMMON----- */

.white {
    color: white;
}

.sx {
    padding-left: 200px;
}

.dx {
    padding-right: 200px;
}

.product:nth-child(-n+3) {
    margin-top: 100px;
}

.product {
    width: 30%;
    margin-top: 60px;
}

.red {
    color: red;
    font-weight: bold;
}

.deleted {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.7);
}

.brand, .red, .deleted {
    font-size: 13px;
}

.ribasso, .sconto {
    background-color: red;
}

.verde {
    background-color: #008000; 
}

.cart {
    padding: 3px 6px;
    color: white;
    max-width: max-content;
    font-size: 15px;
}
/* ------HEADER----- */

.bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    background-color: #ff6900;
    position: fixed;
    z-index: 777;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

ul {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
}

.logo img {
    width: 100%;
    min-width: 113px;
    height: 25px;
}

/* -----MAIN------ */

/* .debug {
    background-color: blueviolet;
    height: 640px;
} */

.product-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product img {
    max-height: 100%;
    max-width: 100%;
}


/* ---ON THE PRODUCTS--- */

.cart.ribasso, .cart.sconto{
    position: absolute;
    bottom: 40px;
}

.cart.verde {
    position: absolute;
    bottom: 40px;
    left: 50px;
}

.mix {
    position: relative;
}

/* ---FOOTER START--- */

footer {
    padding-top: 50px;
}

.end-container {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
}

.contacts-top, footer li {
    font-size: 10px;
    line-height: 1.8;
}

hr {
    color: white;
}

/* -----HOVER---- */

