/* ------RESET----- */

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* ------COMMON----- */

/* ------HEADER----- */

.bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

.logo {
    height: 50%;
}

img {
    width: 100%;
    height: auto;
}